body {
    /*margin: 2rem;*/
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    color: rgb(85, 85, 85);
}

.nature-in-code {
    /*margin: 2rem;*/
}

.legend {
    margin-bottom: 1rem;
    display: flex;
    width: 600px;
    flex-direction: row;
    justify-content: space-between;
}

.box {
    display: inline-block;
    margin-left: 0.4rem;
    min-width: 0.5rem;
    min-height: 0.5rem;
}

.a1a1 {
    background: #FEF4D4;
}

.a1a2 {
    background: #FFCC33;
}

.a2a2 {
    background: #DD4D00;
}

.susceptible {
    background: #DCDCDC;
}

.infected {
    background: #A62250;
}

.recovered {
    background: #175466;
}

.simulation {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.reload {
    padding: 0.4rem;
    margin-bottom: 0.2rem;
    border-radius: 4px;
    background: #008CBA;
    border-color: #008CBA;
    color: white;
    font-family: "Open Sans", sans-serif;
}
